.poster {
  width: 500px;
  padding: 40px;
  border: 30px solid red;
  margin: 30px;
  background-color: yellow;
  height: 500px;
}
h1 {
  font-size: 20px;
  text-align: center;
  color: red;
}

h3 {
  font-size: 16px;
  text-align: center;
  color: black;
}

p {
  font-size: 20px;
  text-align: center;
  color: blue;
}


